<h2>Template: <small> Dinámicos </small></h2>
<hr>

<form (ngSubmit)="save()" autocomplete="off" #myForm="ngForm">
   
    <!-- Nombre -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control"
                   placeholder="Nombre de la persona"
                   name="nombre"
                   ngModel
                   minlength="4"
                   required>
                <span class="form-text text-danger" *ngIf="notValid('nombre')">
                   Este campo es obligatorio
               </span>
        </div>
    </div>

    <!-- Añadir favorito -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input class="form-control"
                       [(ngModel)]="newFavorite"
                       name="favorito"
                       placeholder="Agregar favorito">

                <button class="btn btn-outline-primary" 
                        type="button"
                        (click)="addFavorite()">
                    Agregar
                </button>
            </div>
        </div>
    </div>

    <!-- Lista de favoritos -->
    <div class="mb-3 row">
        <div class="input-group mb-1" *ngFor="let favorito of persona.favoritos; let i = index">
            <input class="form-control" [(ngModel)]="favorito.nombre" name="favorito_{{i}}">

            <button class="btn btn-outline-danger" (click)="delete(i)" type="button"> Eliminar </button>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="button"
                    class="btn btn-primary float-end"
                    [disabled]="myForm.invalid"
                    (click)="save()">
                Guardar
            </button>
        </div>
    </div>


</form>

<span> Persona</span>
<pre>{{persona|json}}</pre>